[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "humidity"]
	path = humidity
	url = https://github.com/caijun/humidity
	shallow = true
	registered = true
